Package: com.local.forcebanner
Name: ForceBanner
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Keep Immortalizer ON. This only FORCES notification popups/banners (fixes sound-only).
Maintainer: putin032024
Author: putin032024
Section: Tweaks
Depends: firmware (>= 14.0), mobilesubstrate | substitute | ellekit
